# Logs
logs
*.log
npm-debug.log*
.stryker-tmp

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.nyc_output
reports

# node-waf configuration
.lock-wscript

node_modules

# build directories
dist
build
release
lib
.next
